@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --clr-primary-blue: #1B3B6F;
  --clr-primary-orange: #C32119;
  --clr-primary: var(--clr-primary-blue);

  --clr-secondary-blue: #294C8C;
  --clr-secondary-orange: #FF8B5E;
  --clr-secondary: var(--clr-secondary-blue);

  --clr-neutral-100: #FFFFFF;
  --clr-neutral-200: #F5F7FA;
  /* Light gray for backgrounds */
  --clr-neutral-300: #E4E7EB;
  /* Border color */
  --clr-neutral-700: #4A5568;
  /* Body text */
  --clr-neutral-900: #1A202C;
  /* Headings */

  /* Accent Colors */
  --clr-accent: var(--clr-primary-orange);
  --clr-accent-success: #2D9B83;
  /* Success messages/actions */
  --clr-accent-warning: #FFB84D;
  /* Warning messages */
  --clr-accent-error: #E53E3E;
  /* Error messages */

  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: "Raleway", sans-serif;

  --font-space: 1.312rem;
  --line-height: 1.5;
  --fw-normal: 300;
  --fw-semibold: 500;
  --fw-bold: 700;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  interpolate-size: allow-keywords;


}

body {
  width: 100%;
  padding: 0;

}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}



/* Set up the body */
body {
  min-height: 100vh;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  shape-margin: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* WebKit Browsers */
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: var(--clr-secondary-orange);
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
  border: 0.25em solid var(--clr-secondary-blue);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-secondary-blue) !important;
  border: 0.25em solid var(--clr-primary-orange) !important;
}

/* Firefox */
@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--clr-primary-blue) var(--clr-primary-orange);
    scrollbar-width: thin;
  }
}

/* Typography */




h1,
h2,
h3 {
  font-family: var(--ff-secondary);
  font-size: clamp(26px, 5vw, 60px);
  letter-spacing: -0.02em;
  /* slightly tighter spacing for headings */
  line-height: 1.1;
}


h4,
h5,
h6 {
  font-family: var(--ff-secondary);
  font-size: clamp(26px, 5vw, 60px);
  letter-spacing: -0.02em;
  line-height: 1.1;
}

p,
li,
figcaption {
  font-family: var(--ff-primary);
  font-size: clamp(16px, 3vw, 18px);
  letter-spacing: normal;
  line-height: 1.5;
}




/* Responsive Design */
/* Breakpoints */

@media (max-width: 1200px) {
  :root {
    --font-space: 1.2rem;
  }
}

@media (max-width: 992px) {
  :root {
    --font-space: 1.1rem;
  }
}

@media (max-width: 768px) {
  :root {
    --font-space: 1rem;
  }
}

@media (max-width: 576px) {
  :root {
    --font-space: 0.9rem;
  }
}

/* Form Styles */
input,
textarea,
select,
button {
  padding: 0.5rem;
  border: 1px solid var(--clr-primary-orange);
  border-radius: 5px;
  outline: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  border-color: var(--clr-accent-success);
  box-shadow: 0 0 0 3px rgba(211, 47, 47, 0.2);
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--clr-primary);
}

/* Additional Reset Styles */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}




/* Accessibility Enhancements */

:focus-visible {
  outline: 2px dashed var(--clr-accent);
  outline-offset: 4px;
}

a:focus-visible {
  outline: 2px dashed var(--clr-accent);
  outline-offset: 4px;
}

main {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 130px !important;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1000px;
}

.title {
  font-family: var(--ff-primary);
  font-size: clamp(25px, 4vw, 60px);
  font-weight: 600;
  position: relative;
  line-height: 1.5;
}


.subtitle {
  font-family: var(--ff-secondary);
  font-size: clamp(18px, 3vw, 26px);
  font-weight: 300;
}


.sub-title {
  font-family: var(--ff-secondary);
  font-size: clamp(18px, 3vw, 26px);
  font-weight: 300;
}

.white {
  color: var(--clr-neutral-100);
}

.learn-more-services {
  text-decoration: none;
  color: var(--clr-primary-orange);
  font-size: clamp(20px, 3vw, 30px);
  font-weight: 500;
  font-family: var(--ff-primary);
}

.learn-more-div {
  display: flex;
  justify-content: right;
}

.arrow-view {
  max-width: 30px;
  transform: rotate(240deg);

}

.arrow-button {}

.contact-us-link-paragraph {
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* Icons section */



.fa {
  font-size: clamp(30px, 3vw, 40px);
}





/* Buttons */
/* Back to top button */

.backToTopBtn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--clr-secondary-blue);
  width: 50px;
}

.backToTopBtn:hover {
  background-color: var(--clr-neutral-100);
}



.btn-get-in-touch {
  font-family: var(--ff-secondary);
  font-weight: 400;
  font-size: clamp(16px, 2vw, 22px);
  letter-spacing: 3px;
  width: 400px;
  max-width: 90%;
  min-height: 40px;
  padding: 0.50rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 15px;
  border: none;
  background-color: var(--clr-primary-blue);
  color: var(--clr-neutral-300);
  white-space: nowrap;
  text-align: center;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .btn-get-in-touch {
    width: 300px;
    max-width: 85%;
    white-space: normal;
    /* allows text to wrap if needed on very small screens */
  }
}

.btn-get-in-touch:hover {
  padding-right: 14px;
  padding-left: 8px;
  background-color: var(--clr-neutral-300);
  color: var(--clr-primary-blue);
  border-radius: 15px;
}


.btn-get-in-touch:hover:after {
  opacity: 1;
  right: 20px;
}

.btn-get-in-touch:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: clamp(22px, 3vw, 30px);
  line-height: 40px;
  top: 0px;
  right: -20px;
  transition: 0.4s;
}

.whatsapp-svg {
  max-height: 25px;
}


.local-service-callout {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--clr-neutral-100);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.call-out-link {
  font-family: var(--ff-primary);
  font-weight: 800;
  font-size: clamp(16px, 4vw, 24px);
  color: var(--clr-primary-orange);
}

.call-out-link:hover {
  font-family: var(--ff-primary);
  color: var(--clr-primary-blue);
  font-weight: 500;
}

/* Reusable Container */
.reusedable-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 4rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
}

.reusedable-container-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* Mobile responsive */
@media (max-width: 786px) {
  .reusedable-container {
    padding: 2.5rem 1.5rem;
  }
}