/* Contact */

.contact-container-outer {
    min-height: 100dvh;
    display: flex;
    gap: 2rem;
    width: 100vw;
    padding: 0.50rem;
    margin-top: 130px;
}

.map-and-address-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0.50rem;
    padding-top: 3rem;
}


.company-name-contact-page {
    font-size: clamp(40px, 4vw, 70px);
    font-family: var(--ff-primary);
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 4px;
    margin-bottom: 1rem;
}

.company-cta-contact-page {
    font-size: clamp(34px, 5vw, 70px);
    font-family: var(--ff-primary);
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: var(--clr-primary-blue);
}

.company-name-studio-address {
    font-size: clamp(20px, 5vw, 30px);
    font-family: var(--ff-secondary);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
    position: relative;
    width: fit-content;
    color: var(--clr-secondary-orange);
}

.company-name-studio-address:hover {

    transition: transform 250ms;

}

.company-name-studio-address::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--clr-primary-orange);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.company-name-studio-address:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.book-a-15min-call-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.50rem;
}

.book-a-15min-call {
    text-decoration: none;
    color: var(--clr-accent-success);
    font-size: clamp(20px, 4vw, 25px);}

.map-and-address-container div {}

iframe {

    width: 60%;
    height: 500px;

}



/* Contact Us */

@media screen and (min-width: 320px) and (max-width: 786px) {
    iframe {

        width: 100%;
        height: 500px;

    }
}