/* Navbar */


@media screen and (min-width: 320px) and (max-width: 1024px) {


  .testimonials-item {
    flex: 40%;
  }

  .our-services {
    flex: 100%;
  }




}

/* landing page our services */

@media screen and (max-width: 1024px) {

  .main-container,
  .studio-page-container,
  .services-outer-container,
  .contact-container-outer {
    min-height: 0;
    margin-top: 1.4rem;

  }

  .our-story {
    margin-top: 1.4rem;
    padding-top: 1rem;
  }

  .main-container {

    margin-top: 1.4rem;

  }

  .home-button {
    max-width: fit-content !important;
    padding: 0.50rem 2rem !important;
  }
}

@media only screen and (max-width: 600px) {

  .options-container {
    flex: 100%;
  }

  .options-container p {
    flex: 100%;
  }

  .more-about-us-container {
    padding-top: 0.50rem;
    padding: 0;
  }

  .benefits-list-item {
    flex: 100%;
  }

  .column.our-services-items {
    flex: 100%;
  }

  .company-description {
    width: 100%;
    padding: 0;
  }


}

/* Our Story */

@media screen and (min-width: 320px) and (max-width: 786px) {
  .praragraphs-container {
    width: 100%;
  }
}

/* Our services */

@media screen and (min-width: 320px) and (max-width: 786px) {
  .our-services-page-container-outer {
    border-radius: 0px 0px 100px 0px;
    padding-bottom: 3rem;
    padding: 0%;
  }
}



/* Footer */

@media screen and (min-width: 320px) and (max-width: 786px) {

  .footer-icon {
    padding: 1rem;
  }

  .get-in-touch-container {
    height: auto;
  }



}


@media screen and (min-width: 320px) and (max-width: 786px) {
  .studio-main {
    background-position: center bottom;
    background-size: contain;
    height: 70vh;
    padding: 0;

  }


}