/* Privacy Policy */

.privacy-policy-title-container {
  padding: 10rem;
  text-align: center;
}

.privacy-policy-title {
  color: black;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: 900;
}

.privacy-policy-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.privacy-policy-container section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem;
}

.policy-email {
  color: steelblue;
}
