.web-development-content-outer {
  padding: 0.50rem;
  min-height: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 130px;
  padding: 0.50rem 0.50rem;
  min-height: 70dvh;

}

.web-development-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1240px;
  min-width: 100%;
  margin: 0 auto;
  gap: 1rem;

}

.web-development-content-intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.50rem;
}

.web-development-content article {
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}



.digital {
  font-size: clamp(35px, 4vw, 90px) !important;
}

.web-development-content article:nth-child(2) {
  align-items: center;
}

.web-development-content article:nth-child(2) {
  display: flex;
  justify-content: center;
}

.web-development-img {
  max-width: 100%;

}

.web-dev {
  font-size: clamp(35px, 4vw, 50px) !important;
}






/* Services */

@media screen and (min-width: 320px) and (max-width: 786px) {
  .web-development-content {
    flex-direction: column;
    padding: 0%;
  }

}


/* Digital Marketing Service */


.pricing-container-outer {
  padding: 0.50rem;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  margin-top: 130px;
  padding: 4rem 0.50rem;
  min-height: 60dvh;
}

.pricing-container-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1240px;
  margin: 0 auto;
  gap: 3rem;
  padding: 0rem 0.50rem;
}



/* Pricing container */

.pricing-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 2rem 0.50rem;

}

.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
  color: var(--clr-neutral-100);
  font-family: var(--ff-secondary);
  font-size: clamp(16px, 3vw, 18px);
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 2px;
}

.toggle-btn {
  border: none;
  color: var(--clr-primary-blue);
  padding: 8px 16px;
  cursor: pointer;

}

/* Active button style */


.toggle-btn.active {
  background-color: var(--clr-secondary-blue);
  color: var(--clr-neutral-100);
  border-radius: 4px dotted var(--clr-primary-orange) !important;
}





/* Pricing box */


.pricing-box {
  background-color: var(--clr-primary-orange);
  border-radius: 8px;
  padding: 0.50rem;
  padding-top: 1rem;

}

.package-name {
  margin-bottom: 1rem;
  font-weight: 400;
  font-family: var(--ff-primary);
  font-size: clamp(20px, 3vw, 22px);
  letter-spacing: 2px;
}



/* Content visibility transition */


.content-one section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.content-one section div {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1rem;
}


.content-one section div p a {
  text-decoration: none;
  font-size: clamp(14px, 3vw, 20px);


}

.content-one section div h1 {}


.pricingandcta {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
}


.pricing {
  font-size: clamp(14px, 4vw, 30px);
  font-weight: 600;
  flex: 1;
}

.cta-get-started {
  flex: 1;
  display: flex;
  gap: 1rem;
  font-weight: 600;
}

.cta-get-started a {
  color: black;
  font-size: clamp(14px, 3vw, 20px);
}



#content1 {
  position: relative;

}

#content2,
#content3 {
  display: none;
  position: relative;

}

#content1.active,
#content2.active,
#content3.active {
  display: block;

}





.case-study {
  font-size: 14px;
}

.case-study a {
  color: #1f2937;
  text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
  .content-one section {
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    padding: 3rem 0.5rem;
  }

  .features {

    flex-direction: column;

  }
}

/* Features */


.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap !important;
  gap: 40px;
  padding: 20px;
  background-color: var(--clr-neutral-300);
}

.feature {
  text-align: center;
  flex: 1;
}

.feature img {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
}

.feature h3 {
  margin-bottom: 10px;
  font-weight: 400;
  font-family: var(--ff-primary);
  font-size: clamp(20px, 3vw, 22px);
  line-height: 1.1;
  letter-spacing: 2px;
}

.feature p {
  font-family: var(--ff-accent);
  font-size: clamp(14px, 3vw, 16px);
  line-height: 1.1;
  font-weight: 300;
  letter-spacing: 2px;
  max-width: 400px;
  margin: 0 auto;

}



/* Portfolios Pages */



/* Printing Page */

.whatsapp-link-large-formatted {
  display: block;
  font-size: clamp(1rem, 5vw + 1rem, 1.3rem);
  padding: 0.30rem;
  font-weight: 400;
  white-space: nowrap;
  display: block;
  font-family: var(--ff-accent);

}

.whatsapp-link-large-formatted a {
  color: #25D366 !important;
  display: inline-block;
  white-space: nowrap;
}

.our-services-items-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  list-style-type: disc;
}

.our-services-items-container ul li {
  max-width: 400px;
  font-family: var(--ff-secondary);
  font-size: clamp(16px, 5vw, 18px);
  font-weight: 300;
  margin: 1rem;
  background-color: var(--clr-neutral-300);
  padding: 0.50rem;
  cursor: pointer;

}

.our-services-items-container ul li:hover {
  background-color: var(--clr-neutral-100);
}

.our-services-items-container ul li strong {
  font-family: var(--ff-primary);
  font-size: clamp(16px, 5vw, 18px);
  font-weight: 600;
  display: block;
  margin-bottom: 1rem;
  color: var(--clr-primary-blue);
}