.unique-faq-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 0;
  width: 100vw;
  padding: 2rem 0.50rem;
  background-color: var(--clr-neutral-200);
}

.unique-faq-inner-container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 3rem 0.50rem;
}


.unique-faqq {
  display: flex;

}

.unique-faq-container {
  width: calc(50% - 2rem);
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}


.unique-faq {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid var(--clr-primary-orange);
  margin: 20px 0px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
  background-color: var(--clr-neutral-200);

}

.unique-faq:hover {
  border: 2px solid var(--clr-secondary-orange);
  transition: 0.3s ease-in-out
}

.unique-faq.active {
  background-color: var(--clr-neutral-200);
  border: 1px solid var(--clr-primary-blue);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}



.unique-faq.active::before {
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.unique-faq-title {
  margin: 0 35px 0 0;
  font-family: var(--ff-primary);
  font-weight: 400;
  line-height: 1.3;
  font-size: clamp(16px, 3vw, 18px);
}

.unique-faq-text {
  font-family: var(--ff-secondary);
  font-weight: 300;
  display: none;
  margin: 10px 0 0;
  line-height: 1.3;
  font-size: clamp(16px, 3vw, 18px);
  max-width: 90%;
}

.unique-faq.active .unique-faq-text {
  display: block;
}

.unique-faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 15px;
  right: 30px;
  width: 30px;
  height: 30px;
}

.unique-faq-toggle:focus {
  outline: none;
}

.unique-faq-toggle .fa-times {
  display: none;
}

.unique-faq.active .unique-faq-toggle .fa-times {
  color: var(--clr-primary-orange);
  display: block;
}

.unique-faq.active .unique-faq-toggle .fa-chevron-down {
  display: none;
}

.unique-faq.active .unique-faq-toggle {
  background-color: var(--clr-accent);
}

@media screen and (min-width: 320px) and (max-width: 786px) {
  .unique-faqq {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .unique-faq-container {
    padding: 0.30rem;
    flex: 1;
    width: 100%;
  }
}