/* Portfolio */
.portfolio-main {
    padding: 0.50rem;
    min-height: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 130px;
}

.portfolio-container-extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.portfolio-title-a {
    text-decoration: none;
    color: var(--clr-secondary-blue);
    font-family: var(--ff-secondary);
}

.portfolio-words-container {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.portfolio-words-container div {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.30rem;
}

.portfolio-words-container div p span {
    font-family: var(--ff-secondary);
    font-size: clamp(18px, 3vw, 26px);
    font-weight: 400;
    color: var(--clr-secondary-blue);
    display: block;
}

.portfolio-words-container div p {
    font-family: var(--ff-primary);
    font-size: clamp(16px, 3vw, 18px);
    font-weight: 300;

}

.intro {
    font-family: var(--ff-secondary) !important;
    font-size: clamp(18px, 3vw, 22px) !important;
    font-weight: 400;
    margin-bottom: 0.50rem;
    color: var(--clr-neutral-700);
}

.portfolio-mockup {
    max-width: 700px;
    width: 100%;
}


.portfolio-page-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
   
}

.portfolio-page-list p {
    color: var(--clr-neutral-700);
    font-size: clamp(14px, 3vw, 16px) !important;
    display: block;
    font-weight: 600 !important;

}

.portfolio-line {
    height: 5px;
    width: 100%;
    background-color: var(--clr-secondary-blue);;
}


@media (max-width: 767px) {
.portfolio-page-list {
      
        flex-direction: column;
        gap: 0.50rem;

    }

}